* {
  box-sizing: border-box;
}

.project {
  margin: 40px 0;
}
.contProject {
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid var(--placeholder-color);
  position: relative;
  padding: 66px 30px;
}

.contProject .contHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.btnDel {
  border: none;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 9px;
}
.btnDel img {
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.subTit {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 26px 0;
  padding-bottom: 8px;
  color: var(--main-color);
  border-bottom: 1.4px solid var(--main-color);
}

.inpOutline {
  width: 100%;
  height: 140px;
  background: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  resize: none;
  outline: none;
}

.contPerson,
.contDate {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 16px;
}

.contPerson label,
.contDate label {
  white-space: nowrap;
  font-size: 14px;
}
.contPerson input {
  width: 100%;
  font-weight: 500;
}

.contDate input[type='month'] {
  padding: 6px 12px;
}

.contDate .progress {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contLink {
  display: flex;
  background-color: var(--background-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.contLink label {
  padding: 12px;
  width: 40px;
}
.contLink label img {
  display: block;
  cursor: pointer;
  width: 14px;
  height: 14px;
}
.contLink input {
  border: none;
  border-left: 1px solid var(--border-color);
  border-radius: 0 5px 5px 0;
  width: 100%;
}
