/* common */
/* div h3 {
  margin: 26px 0 26px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  color: var(--main-color);
  border-bottom: 1.4px solid var(--main-color);
} */

/* div h4 {
  font-size: 14px;
  font-weight: 700;
} */

/* div input {
  height: 40px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.cont form {
  width: 92%;
  height: auto;
  margin: 0 auto;
  margin-top: 36px;
}

textarea {
  width: 100%;
  height: 140px;
  resize: none;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 12px;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--placeholder-color);
} */

/* main */
main .cont {
  position: relative;
  background-color: var(--input-fill-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding-bottom: 66px;
}

/* ProjectAlign */
.isAlign {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 34px 13px;
}

/* projectHeader */
.projectHeader {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
}

.projectHeader button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.projectHeader .menuBtn {
  background-image: url('/public/images/menu.svg');
  left: 10px;
}

.projectHeader p {
  position: absolute;
  font-size: 14px;
  left: 48px;
}

.projectHeader .downBtn {
  background-image: url('/public/images/polygon-down.svg');
  right: 48px;
}

.projectHeader .moreBtn {
  background-image: url('/public/images/more-horizontal.svg');
  right: 14px;
}

/* ProjectTitle */
.projectTitle {
  display: flex;
  position: relative;
  align-items: center;
  background-color: var(--background-color);
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  gap: 42px;
  margin: 36px 0 0 0;
}

.projectTitle h4 {
  width: 148px;
  padding-left: 12px;
}

.projectTitle input {
  width: 100%;
  border: none;
  border-radius: 0;
  border-left: 1px solid var(--border-color);
}

/* ProjectDetail */
.peple {
  margin-bottom: 16px;
}
.peple,
.period {
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  gap: 18px;
}

.peple h4,
.period h4 {
  width: 39px;
  text-align: center;
  margin-left: 12px;
}

.peple input,
.period div {
  width: 100%;
}

.period div {
  display: flex;
  align-items: center;
}

.period input {
  font-size: 14px;
}

.period .year {
  width: 55px;
}

.period .month {
  width: 44px;
}

.period input[type='checkbox']::before {
  content: '진행 중';
  width: 50px;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-left: 26px;
}

/* ProjectContribution */
.contribution {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contribution input {
  width: 100%;
}

/* ProjectSkill */
.skill {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.skill input {
  width: 350px;
}

/* GithubLink */
/* DeployLink */
.github,
.deploy {
  display: flex;
  width: 100%;
  background-color: aquamarine;
}

.github img,
.deploy img {
  width: 40px;
  height: 40px;
  background-color: aqua;
}

.github input,
.deploy input {
  width: 100%;
  border: none;
  border-radius: 0;
  border-left: 1px solid var(--border-color);
}
