.flexBox {
  display: flex;
  gap: 40px;
}

.profileWrap {
  position: relative;
  cursor: pointer;
}

.profile {
  width: 150px;
  height: 150px;
  background: #f2f2f2;
  border-radius: 100px;
  border: 2px solid #2f80ed;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileBtn {
  position: absolute;
  width: 46px;
  height: 46px;
  right: 0;
  bottom: 0;
}

.profileInput {
  display: none;
}
.profileImgBox {
  position: relative;
}

.profileDelete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  border-radius: 50%;
}

.profileBox {
  padding: 20px 0 16px 0;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.inputBox {
  display: flex;
  height: fit-content;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.inputBox label {
  width: 80px;
  height: 40px;
  box-sizing: content-box;
  line-height: 40px;
  font-weight: 700;
  font-size: 14px;
  padding-left: 12px;
  border-right: 1px solid #c4c4c4;
  white-space: nowrap;
  padding: 0 12px;
}

.inputBox input {
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
}

.linkInput input {
  border-radius: 0px 5px 5px 0px;
}

.mailInput input {
  border-radius: 5px;
}

.firstInput {
  width: 260px;
}

.enInput {
  width: 348px;
}

.mailInput {
  width: 182px;
}

.emailWrap {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 40px;
  padding: 16px 0;
}

.emailBtn {
  height: 42px;
  width: 150px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  padding-left: 12px;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  background-repeat: no-repeat;
  background-position: 126px center;
  position: absolute;
}

.noneOutline {
  outline: none !important;
}

.dropEmail {
  height: 42px;
  position: relative;
}

.close {
  background-image: url('../../../public/images/polygon-down-icon.svg');
}

.open {
  background-image: url('../../../public/images/polygon-up-icon.svg');
}

.emailBtn:focus {
  outline: 1px solid var(--main-color);
}

.emailList {
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  margin-top: 5px;
  width: 150px;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid var(--bgGray-color);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(71, 73, 77, 0.1);
}

.emailList li {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  padding: 5px 10px;
  height: 30px;
  box-sizing: border-box;
  margin-bottom: 5px;
  border-radius: 8px;
}

.emailList li:hover {
  background-color: var(--bgGrayLight-color);
}

.emailList li:last-child {
  margin: 0;
}

.linkInput {
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 16px;
  display: flex;
}

.linkInput label {
  width: 135px;
  font-weight: 700;
  font-size: 14px;
  padding-left: 12px;
  border-right: 1px solid #c4c4c4;
  line-height: 40px;
}

.linkInput input {
  border: none;
  flex-grow: 1;
  padding-right: 12px;
}

.careerBox {
  padding-top: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.careerBox span {
  padding: 0 10px 0 12px;
  font-weight: 700;
  font-size: 14px;
}
