.exp {
  margin: 40px 0;
  width: 100%;
}
.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #2f80ed;
}
.title::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #2f80ed;
  margin: 10px 0 26px;
}
.list_exp {
  margin-left: 10px;
}

.list_exp li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.list_exp .year {
  color: #bdbdbd;
  font-size: 14px;
  line-height: 20px;

  font-weight: 700;
}

.list_exp .item {
  font-size: 14px;
  line-height: 20px;
}
