.skillFlexBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 10px;
}

.SkillsInputBox {
  position: relative;
  display: flex;
  align-items: center;
  width: 282px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.skillInput {
  width: 100%;
  border: none;
  box-sizing: border-box;
  height: 40px;
  background: #ffffff;
  padding: 9px 40px 9px 12px;
  outline: none;
}

.btnDel {
  position: absolute;
  right: 0;
  margin: 8px;
}
.skillBtn {
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: var(--addButton-color);
  background-color: #fff;
  cursor: pointer;
}
