.skillFlexBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 10px;
}

.skillInput {
  box-sizing: border-box;
  width: 282px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 9px 12px;
  outline: none;
}

.skillBtn {
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: var(--addButton-color);
  background-color: #fff;
  cursor: pointer;
}
