.pageWrap {
  width: 990px;
  border-radius: 10px;
  margin: 130px auto;
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  box-sizing: border-box;
  width: 100%;
  min-width: 640px;
  max-height: 70px;
  padding: 10px 28px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logoWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.logoWrap img {
  height: 80px;
}

.title {
  color: var(--background-color);
  font-size: 32px;
  font-weight: 700;
}
.title img {
  width: 50%;
}

.title span {
  font-size: 16px;
  font-weight: normal;
  margin-left: 5px;
  align-self: flex-end;
  padding-bottom: 8px;
  color: black;
}

.headerNav ul {
  display: flex;
  align-items: center;
}

.headerNav button {
  color: var(--background-color);
  margin-left: 20px;
}

.prevWrap {
  margin: 130px auto 0;
  min-height: Calc(100vh - 300px);
  width: 990px;
}

.prevFooter {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #4f4f4f;
  width: 100%;
  margin: 100px auto 50px;
}

.footerCont {
  width: max(730px, 50%);
  margin: 20px 0;
  padding: 30px 0 0;
  display: flex;
  justify-content: space-evenly;
}

.footerCont li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footerCont li a {
  color: #787878;
  font-weight: 400;
  font-size: 14px;
}
.footerCont li a:hover {
  text-decoration: underline;
}

.writeCopy {
  text-align: right;
  margin: 40px 50px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  color: #4f4f4f;
}

.writeFooter {
  border-top: 1px solid var(--border-color);
  margin: 0 auto;
  width: max(990px, 100%);
}

.exportBtn {
  background-color: #fff;
  color: var(--main-color) !important;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.exportBtn:hover {
  color: var(--addButton-color) !important;
  outline: 2px solid var(--addButton-color);
  box-sizing: border-box;
}
