.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cont {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  gap: 1px;
}

.company {
  position: relative;
  display: grid;
  grid-template-columns: 108px auto;
  width: 100%;
  align-items: center;
}

.period div {
  position: relative;
  display: grid;
  grid-template-columns: 108px auto;
  width: 100%;
  align-items: center;
}

.period {
  position: relative;
  display: flex;
  height: 39px;
  justify-content: space-between;
  border-radius: 5px;
  gap: 1px;
  border-radius: 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.period div label,
.company label {
  width: 108px;
  border: none;
  background-color: var(--background-color);
  font-size: 14px;
  font-weight: 700;
  padding: 9px 11px;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  text-align: left;
  z-index: 3;
}

.company input,
.period input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 9px 11px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 0;
  background-color: var(--background-color);
  border-left: 1px solid var(--border-color);
  z-index: 4;
}

.company input {
  border-top-right-radius: 5px;
}

.company input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0px;
  top: 9px;
  transform: translateX(-10px);
  padding-left: 3000px;
  height: 100%;
  background-color: transparent;
}

.delBtn {
  position: absolute;
  border: none;
  right: 0px;
  z-index: 5;
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--background-color);
}

.end {
  border-left: 1px solid var(--border-color);
}

.date-wrap {
  margin: 0 auto;
}

.cont textarea {
  border: none;
  height: 94px;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 20px;
}
