.cont {
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deploy,
.company {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.deploy label,
.company label {
  width: 108px;
  padding-left: 12px;
  background-color: palegoldenrod;
}

.deploy input,
.company input {
  border: none;
  border-radius: 0;
  border-left: 1px solid var(--border-color);
  background-color: aquamarine;
}

.cont textarea {
  border-radius: 0;
  border: none;
}
