.cont {
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.period {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.period div,
.company {
  display: grid;
  grid-template-columns: 108px auto;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.period label,
.company label {
  padding-left: 12px;
}

.end {
  border-left: 1px solid var(--border-color);
}

.period input,
.company input {
  border: none;
  border-radius: 0;
  border-left: 1px solid var(--border-color);
}

.cont textarea {
  border-radius: 0;
  border: none;
}
