.introInput {
  /* resetcss 넣으면 지우기 */
  box-sizing: border-box;
  width: 810px;
  height: 170px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  resize: none;
  outline: none;
  padding: 10px 12px;
}

.introCounting {
  display: block;
  font-size: 14px;
  color: #959595;
  text-align: right;
}
